@import '_colors'

.img-item-list
  width: 180px
  height: 180px
  border-radius: 20px

.img-item-list-container
  width: 180px
  text-align: center
  display: block

.text-col
  padding: 16px

.address-text
  text-align: center
  color: $color-gray1

.price
  margin-bottom: 32px
  h5
    font-size: 24px
    display: inline
    margin-bottom: 0px
  img
    vertical-align: baseline

p.item-title
  color: $color-black
  font-size: 18px
